<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/all.min.css">
    <title>Login</title>
</head>
<body>
<div id="app" class="d-flex jc-flex-end">
    <section class="d-flex flex-d-col jc-center pr-sm pl-sm login-txt-block">
        <h2 class="fz-m mb-lg color-basic-b">Ready to Jump In ?</h2>
        <div>
            <!-- <label for="user-email">帳號</label> -->
            <input type="text" name="" id="user-email" placeholder="email" v-model="user.email" class="mb-1">
        </div>
    
        <div>
            <!-- <label for="user-password">密碼</label> -->
            <input type="password" name="" id="user-password" placeholder="password" v-model="user.password" class="mb-1">
        </div>
    
        <button type="submit" class="login-btn" @click="logIn">Login</button>
    </section>


</div>  
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

    const loginPath = 'https://course-ec-api.hexschool.io/api/auth/login';

    new Vue({
        el: '#app',
        data() {
            return{
                user: {
                    email: '',
                    password: '',
                },
                taken: '',
            }
        },
        methods: {
            logIn() {
                console.log("hi login");
                this.user.email = '';
                this.user.password = '';
                axios.post(loginPath, this.user)
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            },
        }
    })

</script>
</html>