#app {
    min-height: 100vh;
    background: url(https://images.unsplash.com/photo-1526631011044-3fae1501ec7c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80) no-repeat;
    background-position: center;
    background-size: cover;
}


.login-txt-block {
    width: 25%;
    background-color: rgba(255, 255, 255, 0.65);
}